body{
    font-family: 'Lato', sans-serif;
}
h2{
    color: #BF1860;
}
table{
    border: none;
    width: 50%;  
}
table td, th{
    text-align: left;
}

.item::before{
    content: '';
    position: absolute;
    width: 26px;
    height: 2px;
    background-color: #B12264;
    bottom: -1px;
}