body {
    font-family: 'Lato', sans-serif;
    background-image: url('../img/detail-bg.jpg');
    background-repeat: no-repeat;
}

header img{
    width: 200px;
}
header h1 {
    font-size: 36pt;
    margin-top:0px;
}

h2 {
    color: #BF1860;
}

table {
    border: none;
    width: 60%;
    padding-bottom: 100px;
}

table th,
td {
    width: 50%;
    text-align: left;
    vertical-align: top;
    padding: 10px;
}

aside {
    width: 30%;
    float: left;
}

aside ul {
    list-style-type: none;
    /* Remove default bullets */
}

aside ul li {
    font-size: 18px;
    padding-left: 35px;
    padding-bottom: 10px;
    background: url(../img/nav-pills-arrow.svg) 0% 0% / 21px no-repeat;
}
aside ul li ul{
    margin-left: -20px;
}
aside ul li ul li{
    background: url(../img/pills-programmes-arrow-red.svg) 0% 0% / 21px no-repeat;
}

section {
    width: 70%;
    float: left;
}

article {
    border: solid 1px #cccccc;
    padding-top: 1%;
    padding-left: 1%;
    padding-bottom: 10%;
}

footer {
    clear: both;
    color: white;
    background-color: #272935 !important;
    background-image: url('../img/footer-bg.jpg') right center no-repeat;
    background-size: auto 100%;
    padding:5% 2% 20%;
}

footer ul {
    list-style: none; /* Remove default bullets */
    padding: 0;
    display: flex; /* Layout items horizontally */
    justify-content:right; /* Center items horizontally */
}
footer ul li {
    margin: 0 20px; /* Add space between items */
}
footer section{
    padding-top: 100px;
    font-size: 12px;
    color: #cccccc;
}